#main {
    width: 30vw;
    height: 55vh;
    position: absolute;
    margin-top: 4%;
    /* float: left; */
    pointer-events: none;
}

#second_cav {
    /* background-color: black; */
    width: 25vw;
    height: 26vh;
    position: absolute;
    margin-left: 26%;
    margin-top: 0;
    padding: 0px;
}


#second {
    background-color: rgba(211, 211, 211, 0.532);
    width: 22vw;
    height: 55vh;
    position: absolute;
    margin-left: 48%;
    margin-top: 3%;
    border: 5px solid black;

}

#outer {
    height: 65vh;
    background-image: url(./img/cat_bg.png);
    background-position: 0px 20%;
    background-color: rgba(211, 211, 211, 0.606);
    background-blend-mode: multiply;
    padding-left: 10%;
    margin-left: 10%;
    margin-top: 3%;
    border: 5px solid black;
    position: relative;
}

#btn_start {
    padding: 10px 20px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    bottom: 2vh;
    margin: 0;
    float: left;
    /* left: 1vw; */
}

#download,
#upload,
#score {
    padding: 5px 5px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0 9px #999; */
    position: absolute;
    bottom: 5vh;
    margin: 0;
    float: left;
    /* left: 1vw; */

}

#download {
    left: 1vw;
    width: 13%;
    visibility: hidden;
}

#score {
    left: 1vw;
    width: 13%;
    bottom: 20vh;
    visibility: hidden;
}

#upload {
    left: 1vw;
    bottom: 13vh;
    width: 13%;
}


#btn_start {
    left: 2vw;
    width: 80%;
}


#btn_start:hover,
#download:hover,
#upload:hover,
#score:hover {
    background-color: #3e8e41
}


#btn_start:active,
#download:active,
#upload:active,
#score:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#time {
    background-color: rgba(62, 142, 65, 0.525);
    width: 100%;
    height: 80px;
    border: 1px solid lightgray;
    float: left;
    position: absolute;
    top: 59%;
}

#download:hover {
    background-color: RoyalBlue;
}

#transcript {
    background-color: rgba(211, 211, 211, 0.397);
    height: 55vh;
    width: 53vw;
    background-position: 0px 20%;
    padding: 0;
    /* padding-left: 2%;
    padding-top: 2%; */
    margin-left: 0%;
    margin-top: 3%;
    /* border: 5px solid black; */
    float: left;
    position: absolute;
    text-align: center;
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

th,
td {
    text-align: center;
    padding: 15px;
    position: relative;
    font-size: 20px;
    /* left: 2vw; */
    /* transition: .2s; */
}

tr:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.784);
}